asgiref==3.11.1
click==8.4.1
colorama==0.4.6
cssbeautifier==1.15.4
django==6.0.6
django-allauth==65.18.0
django-countries==9.0.0
djlint==1.39.2
editorconfig==0.17.1
gunicorn==26.0.0
jsbeautifier==1.15.4
json5==0.14.0
packaging==26.2
pathspec==1.1.1
psycopg2-binary==2.9.12
python-dotenv==1.2.2
pyyaml==6.0.3
regex==2026.5.9
six==1.17.0
sqlparse==0.5.5
tqdm==4.68.3
typing-extensions==4.15.0
whitenoise==6.12.0
